<%- include('partials/header') -%>
<div class="my-5">
  <div class="row my-5 align-items-center justify-content-center">
    <ul class="row list-unstyled">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="col-8 col-lg-4 col-xl-3">
          <div class="card">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid mx-auto d-block" src="<%= posts[i].image%>">
            </a>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</div>  
<%- include('partials/footer') -%>